%h1.beta
  Hi
  = current_user.username
.container-fluid
  .row-fluid
    .span8
      %h2
        Learning Queue
      .posts.content-list
        - if current_user.bookmarks.empty?
          You haven't bookmarked anything yet
        - else
          - current_user.bookmarks.each do |bookmark|
            = render :partial => 'posts/post', :locals => {:post => bookmark.post}