.row-fluid
  
  //Left side
  %div.span8
    
    %h1.beta Hi #{@user.username.titleize}

    
    - @user.posts.each do |post|
      = render post
    




  %div.span4

    %h1.beta Have something to share?
    %p Do you know of something that others could learnt from? Feel free to get involved and contribute your links.
    %div.contribute-btn
      = link_to 'CONTRIBUTE', new_post_path


