.about-strapline
  %h1.strapline
    Learn from the most up to date content source in the world, the internet.
.section.about-content
  .about-left
    %p.paragraph-intro
      We’ve all been there. Sitting in the classroom or sitting in the office, and knowing that what you are hearing and doing is completely unrelated to what you want to do for the rest of your life.
    %p
      You are not one of the few – you are one of the many.
    %p
      Figuring out what you want to do and learning the skills to do it can seem like a daunting task. You KNOW you have the potential to do more, but how do you even start?
    %p
      This website is for all those people, of all ages around the world, who want to learn about industry-specific skills from every kind of angle and at different levels. Lifelong learning is the way to prosper in the knowledge economy.
    %p
      We all know something, whether it is how to grow vegetables or build your own computer. What
      you know is valuable to others. Self-teaching is one of the greatest ways of really learning about a process or a task. The vast majority of people will tell you that the quality of what they learn and the retention of that knowledge is greatly improved when you do it yourself – and even more so when it’s about something you like.
    %p
      Mass education has failed most of us, and career counsellors and career websites will normally
      send you down a mostly unsatisfying route and waste months and perhaps years of your time. Time that could be spent figuring out and building the career you want. Here, you can tailor your own education and gain those skills for free on your own schedule.
    %p
      Most curriculum development falls way behind modern times. It is debated at government level;
      it becomes policy; teachers need to get trained; curriculum needs to be written; books need to be made. This process takes years. Here, you can get the most up-to-date information on what you are looking for, and also contribute what you know.
    %p
      Welcome to LRNR – a community of self-starters!
  .about-right
    %p
