%h1
  Newest content

.posts
  - @posts.each do |post|
    .post
      %p
        = link_to post.title, post.url
        in
        = link_to post.topic.name, topic_path(post.topic)
        - if current_user == post.user
          = link_to 'Edit', edit_post_path(post)
          = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' } 