.row-fluid
  .container
    .about-strapline
      %h1.strapline
        %strong
          Lrnr
        helps you take the initiative and learn what you really want to.
        = link_to  "Find out how", "/about"
.row-fluid
  .container
    .span12
      - @tags.each do |tag|
        .tag
          = tag.name
.row-fluid
  .container
    .span8
      %h1.beta
        Popular this week

      .posts.content-list
        - @posts.each do |post|
          = render post

    .span4
      %h1.beta
        Topics
      .well.white
        %a.content-card-tag{:href => "/topics/web-design"} Web Design
        %a.content-card-tag{:href => "/topics/web-design"} Cooking
        %a.content-card-tag{:href => "/topics/web-design"} Spanish
