@import "bourbon";

//--------------------------------
// Colours
//--------------------------------

$light-grey: #EEE;
$grey: #666;
$black: #333;





* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5em;
}

.content-card {
  margin: 0 0 20px 0;
  border-bottom:1px dashed #D0D0D0;
  padding: 0 0 20px 0;
}

.content-card-title {
  font-size: 24px;
  margin: 0;
  a {
    color: $black;
  }
}

.content-card-subtext {
  margin: 0;
}

.content-card-tag {
  background: $light-grey;
  color: $grey;
  padding: 4px 6px;
  font-size: 13px;
  font-weight: bold;

}

.navbar-inner {background:#0F0F1F}
.search-bar {background:#EAFAFF; height:140px;}
.search-bar input {width:100%; border:1px solid #DBDBEA; height:67px; border-radius:0; font-size:48px; font-family: "freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 700; color:#CACAD8; margin-top:38px;}


// Typography

h1 {
	font-family: "freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
}

h1.beta {font-size:18px; text-transform:uppercase;}
h2 {font-size:16px;}

p {
	font-family: "freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 400;

}